QScrollBar:horizontal {
  border: none;
  background: #32CC99;
  height: 20px;
  margin: 0px 20px 0 20px;
}
QScrollBar::handle:horizontal {
  background: white;
  min-width: 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
}
QScrollBar::add-line:horizontal {
  border: 2px solid grey;
  background: #32CC99;
  width: 20px;
  subcontrol-position: right;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
  border: 2px solid grey;
  background: #32CC99;
  width: 20px;
  subcontrol-position: left;
  subcontrol-origin: margin;
}