QPushButton{
    font-family: Arial;
    font: normal;
    font-size: 12pt;
    color: rgb(0, 0, 0); 
    background: rgb(255, 255, 255);
    border: 1.5px Solid rgb(1, 18, 34);
    border-radius: 4px;
    padding: 2px;
    
}



