QProgressBar {
	text-align: center;
	color: rgb(0, 0, 0);
	border-radius: 15px;
    border: 2px solid rgb(230, 230, 231);
	background-color:rgb(221, 221, 221);
	font:normal;
	font-size: 10pt;
}
QProgressBar::chunk {
	background-color: rgb(11, 141, 241);
	border-radius: 10px;
	margin: 3px;
}