QInputDialog{
    border: 1px solid transparent;
    background-color: #ECE8E2;
}
QInputDialog QLabel{
    font-size: 18px;
    font-style: Arial;
    color: black;
}
QInputDialog QLineEdit{
    min-width: 300px;
    height: 23px;
    background-color: white;
    border: 1px solid #B8B8B8;
    border-radius: 3px;
    color: black;
    font-style: Arial;
    padding: 6px;
    font-size: 16px;
    selection-background-color: #F6A77E;
    selection-color: white;
    
}
QInputDialog QLineEdit:hover{
    border: 1px solid #F6A77E;
}
QInputDialog QPushButton{
    background-color: #FFFBFA;
    border: 1px solid #B8B8B8;
    border-radius: 3px;
    min-width: 80px;
    height: 20px;
    padding: 6px;
    color: black;
    font-style: Arial;
    font-size: 16px;
}
QInputDialog QPushButton:hover{
    border: 1px solid #939393;
    background-color: #F6A77E;
    border-radius: 3px;
    padding: 6px;
}