QGroupBox{
  border: 2px solid rgb(111, 143, 190);
  font-size: 20px;
  font-weight: bold;
  width: 500px;
  height: 400px;
  color: black;
  margin-top: 5ex;
  background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0.2 #f0f8ff, stop:0.5 #d4f1f9, stop:1 #6dd7fd);
}
QGroupBox:title{
  subcontol-origin: margin;
  subcontol-position: left top;
  border: 2px solid rgb(111, 143, 190);
  background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0.4 #f0f8ff, stop:1 #d4f1f9);
  top: -10px;
  left: 12px;
  padding: 5px;
}