QComboBox {
	color: #a70ef9;	
	background: transparent;
	font : bold "Times New Roman";
	font-size : 20px;
	padding-left: 0.2em;
	border: 0.05em solid #b30dc5;

}

QComboBox QAbstractItemView {
	color: #a70ef9;	
	background: #ffffff;
	selection-color: #FFFFFF;
	selection-background-color: #b30dc5;
	outline: 0;
}
