QRadioButton {
        background-color: #d8dada;
        border: 2px solid #1099F2;
}

QRadioButton::indicator {
        height: 0px;
        width: 0px;
        border: none;
}

QRadioButton#low {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-right-width: 1px;
        padding-left: 35px;
}

QRadioButton#medium {
        border-left-width: 1px;
        border-right-width: 1px;
        padding-left: 25px;
}

QRadioButton#high {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-left-width: 1px;
        padding-left: 30px;
}

QRadioButton:checked {
        background-color: #1099F2;
        color: #d8dada;
}