QPushButton{
    font-family: Arial;
    font: bold;
    font-size: 13pt;
    color: rgb(89, 117, 156); 
    background: rgb(255, 255, 255);
    border: 0px Solid rgb(188, 203, 219);
    border-radius: 4px;
    padding: 2px;
    background: qradialgradient(
                    cx: 0.3, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 rgb(199, 211, 224), stop: 1 rgb(188, 203, 219)
                );
    
}

