QInputDialog{
    border: 2px solid black;
    background-color: #F8B915;
}
QInputDialog QLabel{
    font-size: 17px;
    font-style: Arial;
    font-weight: bold;
    color: black;
}
QInputDialog QLineEdit{
    min-width: 300px;
    height: 20px;
    background-color: #F8B915;
    border: 2px solid black;
    border-radius: 4px;
    color: black;
    font-style: Arial;
    padding: 6px;
    font-size: 16px;
    selection-background-color: #308CC6;
    selection-color: white;
}
QInputDialog QLineEdit:hover{
    border: 2px solid #4591A6;
    border-radius: 4px;
}
QInputDialog QPushButton{
    background-color: #F8B915;
    border: 1px solid transparent;
    border-radius: 6px;
    min-width: 80px;
    height: 20px;
    padding: 6px;
    color: rgb(109, 109, 109);
    font-style: Arial;
    font-size: 15px;
    font-weight: bold;
}
QInputDialog QPushButton:hover{
    background-color: white;
    color: black;
}