QLineEdit{
    border: 2px solid grey;
    font-size: 20px;
    padding: 5px;
    min-width: 18em;
    height: 30px;
    color: black;
    selection-background-color: #AED8E5;
    selection-color: white;
}
QLineEdit:hover{
    border: 2px solid #29b1da;
}
