QPushButton{
    font-family: Arial;
    font: normal;
    font-size: 15pt;
    color: rgb(12, 12, 12);
    background: rgb(233, 215, 23);
    border: 10px Solid rgb(255, 255, 255);
    border-radius: 35px;
    padding: 12px;
}