QGroupBox{
  border: 1px solid rgb(3, 41, 99);
  border-top: 2px solid transparent;
  font-size: 17px;
  width: 400px;
  height: 250px;
  color: white;
  margin-top: 9ex;
  background-color: white;
}
QGroupBox:title{
  subcontrol-origin: margin;
  subcontrol-position: top left;
  background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0.1 rgb(3, 41, 99), stop:1 #5E2169);
  border: 1px solid rgb(3, 41, 99);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  padding: 8px 329px 8px 0;
  top: -3px;
}