QComboBox {
	background-color: #313131;
	color: #B6B1B1;
	border: 0.05em solid #00ABED;
	border-radius: 0.15em; 
	padding-bottom: 0.2em;
	padding-left: 0.3em;
  	font: 50 14pt "Open Sans "

}
QComboBox QAbstractItemView
{   background-color: #00ABED; 
    selection-background-color: #313131;
	outline: 0;
	color : #f0e7e7;
}
