QGroupBox{
  border: 1px solid #ff8a00;
  font-size: 20px;
  width: 400px;
  height: 300px;
  color: rgb(160, 79, 79);
  margin-top: 5ex;
  background-color: #fff0de;
}
QGroupBox:title{
  subcontrol-position: right top;
  border: 1px solid #ff8a00;
  background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0.2 whitesmoke, stop:1 #ffb07c);
  top: -10px;
  right: 30px;
  padding: 5px;
}