QPushButton{
    font-family: Arial;
    font: normal;
    font-size: 16pt;
    color: rgb(255, 255, 255); 
    background: rgb(4, 161, 223);
    border: 0px Solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
}


