QPushButton{
    font-family: Arial;
    font: bold;
    font-size: 15pt;
    color: rgb(82, 80, 79);
    background: rgb(255, 255, 255);
    border: 3px Solid rgb(46, 44, 44);
    border-radius: 15px;
    padding: 10px;
    background: qradialgradient(
                    cx: 0, cy: -1,
                    fx: 1, fy: 0,
                    radius: 2,
                    stop: 0 rgb(255, 255, 255), stop: 1 rgb(180, 174, 174)
                );
}