QLineEdit{
    font-size: 18px;
    padding: 5px;
    min-width: 20em;
    height: 30px;
    color: rgb(144, 137, 137);
    background-color: transparent;
    border: 3px solid transparent;
    border-bottom: 3px solid #2EB5D0;
}