QComboBox {
	background-color: #404040;
	color: #fff;
	border: 0.05em solid #1e1e1e;
	font-size: 18px;
	border-radius: 0.15em;
	padding-bottom: 0.2em;
	padding-left: 0.4em;
}
QComboBox QAbstractItemView
{    background-color: #404040; 
    selection-background-color: #3D7848;
	outline: 0;
	
  color : white
}
