QPushButton{
    font-family: Arial;
    font: normal;
    font-size: 12pt;
    color: rgb(0, 0, 0); 
    background: rgb(224, 221, 221);
    background: qradialgradient(
                    cx: 0.3, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 rgb(226, 226, 226), stop: 1 rgb(224, 221, 221)
                );
    border: 1.5px Solid rgb(255,255,255);
    border-radius:25px;
    padding: 10px;
    
}



