QCheckBox{
    font: bold italic;
    font-size: 20px;
    color: black; 
    width: 50px;
  }
  QCheckBox:indicator{
    width: 20px;
    height: 20px;
    border-radius: 11px;
  }
  QCheckBox:indicator:unchecked{
    background-color: white;
    border: 1px solid grey;
  }
  QCheckBox:indicator:checked{
    background-color: green;
    border: 2px solid white;
    outline: 1px solid green;
  }