QRadioButton {
        padding: 10px;
        border: 1px solid darkgray;
        border-radius: 5px;
}

QRadioButton::focus {
        padding: 10px;
        border: 1px solid black;
        border-radius: 5px;
}

QRadioButton::indicator {
        width: 20px;
        height: 20px;
        border: 2px dotted black;
        border-radius: 10px;
}

QRadioButton::indicator::hover {
        width: 20px;
        height: 20px;
        border: 2px dotted black;
        border-radius: 10px;
        background-color: aquamarine;
}