QPushButton {
    font-family: Helvetica;
    font: bold;
    font-size: 25pt;
    color: rgb(2, 97, 206);
    background: rgb(253, 253, 253);
    border: 0px Solid rgb(255, 255, 255);
    border-radius: 4px;
    padding: 2px;
    background: qradialgradient(
                    cx: 0.3, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 rgb(253, 253, 253), stop: 1 rgb(200, 223, 248)
                );
   
}

