QLineEdit{
    font-size: 18px;
    padding: 3px;
    min-width: 18em;
    height: 40px;
    color: whitesmoke;
    background-color: #111113;
    border: 2px solid transparent;
    border-bottom: 2px solid whitesmoke;
    selection-background-color: #75c7f7;
    selection-color: white;
}
QLineEdit:hover{
    border: 2px solid transparent;
    font-size: 15px;
    border-bottom: 3px solid #B23331;
}