QProgressBar {
	text-align: center;
	color: rgb(0, 0, 0);
	border-radius: 0px;
    border: 1px solid rgb(0, 0, 0);
	border-style:dashed;
	background-color:rgb(255, 255, 255,0);
	font: normal;
	font-size: 8pt;
}
QProgressBar::chunk {
	background-color: #f78282;
	border-radius: 0px;
}