QGroupBox{
  border: 4px solid rgb(133, 8, 182);
  font-size: 20px;
  width: 400px;
  height: 150px;
  color: black;
  background-color: rgb(201, 196, 196);
}
QGroupBox:title{
  subcontol-origin: margin;
  subcontol-position: left top;
  top: 8px;
  left: 15px;
}