QPushButton{
  font-family: sans-serif;
  font: normal;
  font-size: 15pt;
  color: rgb(255, 255, 255); 
  background: rgb(125, 159, 187);
  background: qradialgradient(
                  cx: 0.3, cy: -0.4,
                  fx: 0.3, fy: -0.4,
                  radius: 1.35,
                  stop: 0 rgb(125, 159, 187), stop: 1 rgb(69, 110, 143)
              );
  border: 1px Solid rgb(0, 0, 0);
  border-radius:0px;
  padding: 0px;
  
}



