QMessageBox {
    background-color: #EAEAEA;
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 350px;  /* Set the minimum width */
    max-width: 500px;
}
QLabel {
    color: black;
    font-size: 14px;
    min-width: 350px;  /* Set the minimum width */
    max-width: 500px;
    min-height: 50px;  /* Set the minimum height */
    max-height: 100px;
}
QPushButton {
    background-color: #E6E6E7;
    color: black;
    border: 1px solid black;
    font-size: 12px;
    padding: 5px 10px;
    min-width: 50px;  /* Set the minimum width */
    max-width: 100px;
}
QPushButton:hover {
    border: 2px solid #8CB3DA;
}