QPushButton {
    font-family: Helvetica;
    font: normal;
    font-size: 16pt;
    color: rgb(240, 186, 41);
    background: rgb(255, 255, 255);
    border: 1px Solid rgb(240, 186, 41);
    border-radius: 4px;
    padding: 2px
   
}


