QComboBox {
	color: #006860;	
	background: transparent;
	border: 0.05em solid #006860;
	border-radius: 0.15em; 
	padding-bottom: 0.2em;
	padding-left: 0.2em;
  	font: 50 14pt "Sans Serif"

}

QComboBox QAbstractItemView {
	color: #006860;	
	background: #ffffff;
	selection-color: #FFFFFF;
	selection-background-color: #006860;
}
