QDialog {
    background-color: white; 
    border: 1px solid transparent;
}

QPushButton {
    background-color: transparent; 
    color: #F1DB77;
    font-size: 14px; 
    border-radius: 5px; /* Button border radius */
    padding: 9px;
    width: 60px;
    height: 14px;
    border: 1px solid transparent;
}

QPushButton:hover {
    color: black;
    background-color: #E3E3E3;
}
