QInputDialog{
    border: 3px solid #A3C7F6;
    border-radius: 4px;
    padding: 5px;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0.2 #C9C1EA, stop:1 #ECDBE1);
    padding: 8px;
    margin: 2px;
}
QInputDialog QLabel{
    color: purple;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
QInputDialog QLineEdit{
    background-color: #ffffff;
    border: 2px solid #4CAF50;
    color: pink;
    selection-background-color:#A3C7F6;
    selection-color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
}
QInputDialog QPushButton {
    background-color: #4CAF50;
    color: white;
    font-size: 12px;
}