QPushButton {
       background-color: #3498db;
       border: none;
       padding: 10px;
       background-image: url(:/icons/x1.png);
       background-repeat: no-repeat;
       background-position: center;
   }