QPushButton {
    background-color: #fe613e;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 40px;
}
QPushButton::hover {
    background-color: #e97358;
}