QPushButton {
    font-family: Helvetica;
    font: normal;
    font-size: 14pt;
    color: rgb(162, 162, 163);
    background: rgb(255, 255, 255);
    border: 1px Solid rgb(162, 162, 163);
    border-radius: 20px;
    padding: 0px;
}

