QProgressBar {
	text-align: center;
	color: rgb(55, 3, 58);
	border-radius: 10px;
    border: 3px solid  rgb(55, 3, 58);
	background-color:rgb(237, 214, 247);
	font:bold;
}
QProgressBar::chunk {
	background: qradialgradient(
                  cx: 0.3, cy: -0.4,
                  fx: 0.3, fy: -0.4,
                  radius: 1.35,
                  stop: 0 rgb(224, 172, 248), stop: 1 rgb(140, 94, 161)
              );
	border-radius: 5px;
}