QGroupBox{
  border: 2px solid #faa77d;
  font-size: 20px;
  font-weight: bold;
  width: 400px;
  height: 300px;
  color: white;
  margin-top: 5ex;
  background-color: white;
}
QGroupBox:title{
  subcontol-origin: margin;
  subcontol-position: left top;
  border: 2px solid #faa77d;
  background-color:qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0.2 #F18C94, stop:0.5 #FCB28C, stop:1 #FED481);
  top: -10px;
  left: 12px;
  padding: 5px;
}