QPushButton{
    font-family: Arial;
    font: normal;
    font-size: 15pt;
    color: rgb(0, 0, 0);
    background: rgb(238, 156, 33);
    border: 1px Solid rgb(252, 252, 252);
    border-radius: 25px;
    padding: 15px;
    background: qradialgradient(
                    cx: 0, cy: 1,
                    fx: -0.3, fy: 0,
                    radius: 1,
                    stop: 0 rgb(238, 156, 33) ,stop: 1 rgb(236, 144, 4)
                )
}


