QRadioButton {
        padding-left: 15px;
        padding-right: 15px;
        background-color: rgba(0, 26, 255, 0.164);
        border: 2px solid grey;
        border-radius: 7px;
}

QRadioButton:focus {
        border-color: cornflowerblue;
}

QRadioButton::indicator {
        width: 12px;
        height: 12px;
        border: 2px solid cornflowerblue;
        border-radius: 7px;
}

QRadioButton::indicator:checked {
        background-color: cornflowerblue;
}