QPushButton{
    font-family: Arial;
    font: normal;
    font-size: 15pt;
    color: rgb(2, 47, 88);
    background: rgb(255, 255, 255);
    border: 0px Solid rgb(252, 252, 252);
    border-radius: 25px;
    padding: 15px;
    background: qradialgradient(
                    cx: 0, cy: 1,
                    fx: -0.3, fy: 0,
                    radius: 1,
                    stop: 0 rgb(185, 214, 241) , stop: 1 rgb(131, 173, 212)
                )
}



