QDialog {
    background-color: white; 
    border: 1px solid transparent;
    border-top: 1px solid grey;
}

QPushButton { 
    background-color: white;
    color: black;
    font-size: 15px; 
    border-radius: 19px; /* Button border radius */
    height: 20px;
    padding: 8px;
    border: 1px solid black;
}
QPushButton:hover {
    background-color: black;
    color: white;
    border: 1px solid transparent;
}

