QProgressBar{
    text-align: center;
    border-radius: 15px;
    background:#000000;
    color: white;
    font-size: 15px;
}
QProgressBar:chunk{
    background:  #e57e22;
    border-radius: 15px;
}