QPushButton{
    font-family: Arial;
    font: normal;
    font-size: 16pt;
    color: rgb(30, 30, 46); 
    background: rgb(170, 192, 201);
    border: 1.5px Solid rgb(30, 30, 46);
    border-radius: 10px;
    padding: 5px;
}


