QPushButton{
    font-family: Arial;
    font: bold;
    font-size: 12pt;
    color: rgb(20, 20, 17);
    background: rgb(134, 212, 82);
    border: Solid rgb(255, 255, 255);
    border-radius: 4px;
    padding: 2px;
    background: qradialgradient(
                    cx: 1, cy: 0,
                    fx: 0, fy: -1,
                    radius: 1.5,
                    stop: 0 rgb(126, 211, 69), stop: 1 rgb(134, 212, 82)
                );
}