QRadioButton::indicator
{
    border-radius: 6px;
}

QRadioButton::indicator:hover, QCheckBox::indicator:hover
{
    border: 1px solid #ffaa00;
}
QRadioButton::indicator:checked
{
   border-radius: 6px;
   border: 1px solid #ffaa00;
}