QProgressBar {
    border: 2px solid grey;
    border-radius: 5px;
    text-align: center;
}

QProgressBar::chunk {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0,
        stop:0 rgba(0, 255, 0, 255),
        stop:1 rgba(255, 0, 0, 255));
    width: -1px;
    margin: -1px;
}