QComboBox {
	color: #8b8e91;	
	background: transparent;
	border-bottom: 0.1em solid #2c2b2b;
	padding-left: 0.2em;
  	font: 50 14pt "Sans Serif";

}

QComboBox QAbstractItemView {
	color: #a2a7a9;	
	background: #ffffff;
	padding-left: 0.4em;
	selection-background-color: #eaecee;
	selection-color : #a2a7a9;
	outline : 0;
}
