QGroupBox{
  border: 2px solid rgb(102, 198, 215);
  font-size: 20px;
  width: 400px;
  height: 300px;
  color: white;
  margin-bottom: 8ex;
  background-color: white;
}
QGroupBox:title{
  subcontrol-position: top center;
  background-color:rgb(102, 198, 215);
  bottom: -305px;
  padding: 3px 170px 3px 170px;
}