QPushButton {
    font-family: Helvetica;
    font: normal;
    font-size: 14pt;
    color: rgb(90, 33, 33);
    background: rgb(29, 29, 29);
    border: 1px Solid rgb(90, 33, 33);
    border-radius: 4px;
    padding: 2px;
    background: qradialgradient(
                    cx: 0.3, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 rgb(29, 29, 29), stop: 1 rgb(7, 7, 7)
                );
   
}


