QPushButton{
  font-family: Arial;
  font: normal;
  font-size: 14pt;
  color: rgb(187, 133, 15); 
  background: rgb(248, 206, 91);
  border: 1.5px Solid rgb(187, 133, 15);
  border-radius: 4px;
  padding: 2px;
  background: qradialgradient(
                    cx: 0.3, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 rgb(252, 212, 101), stop: 1 rgb(248, 206, 91)
                )

}
  


