QPushButton{
    font-family: Arial;
    font: normal;
    font-size: 15pt;
    color: rgb(255, 255, 255); 
    background: rgb(67, 196, 153);
    border: 0px Solid rgb(255, 255, 255);
    border-radius: 30px;
    padding: 10px;
    background: qradialgradient(
                    cx: 0.3, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 rgb(94, 223, 180), stop: 1 rgb(67, 196, 153)
                );
}


