QPushButton{
    font-family: Arial;
    font: bold;
    font-size: 13pt;
    color: rgb(21, 60, 87); 
    background: rgb(255, 255, 255,0);
    border: 1px Solid rgb(21, 60, 87);
    border-radius: 4px;
    padding: 2px;
    
}

