  QPushButton{
    font-family: Arial;
    font: bold;
    font-size: 14pt;
    color: rgb(216, 106, 33); 
    background: rgb(244, 255, 85);
    background: qradialgradient(
                    cx: 0.3, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 rgb(244, 255, 85), stop: 1 rgb(248, 168, 18)
                );
    border: 1.5px Solid rgb(221, 144, 0);
    border-radius:10px;
    padding: 5px;
    
}



