QWidget{
    background: rgb(4, 58, 109);
    border-radius: 10px;
    padding: 5px;
}

QPushButton{
    font-family: Arial;
    font: bold;
    font-size: 13pt;
    color: rgb(0, 0, 0); 
    background: rgba(255, 255, 255);
    border: 0px Solid rgb(255, 255, 255);
    border-radius: 0px;
    padding: 0px;
    
}



