QWidget{
    background: rgb(1, 18, 34);
    border-radius: 4px;
    padding: 2px;
}

QPushButton{
    font-family: Arial;
    font: normal;
    font-size: 13pt;
    color: rgb(0, 0, 0); 
    background: rgb(17, 206, 111);
    border: 0px Solid rgb(255, 255, 255);
    border-radius: 4px;
    padding: 2px;
    
}



