QPushButton {
    font-family: Helvetica;
    font: normal;
    font-size: 14pt;
    color: rgb(230, 195, 1);
    background: rgb(243, 65, 65);
    border: 0px Solid rgb(230, 195, 1);
    border-radius: 4px;
    padding: 2px;
    background: qradialgradient(
                    cx: 0.3, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 rgb(243, 65, 65), stop: 1 rgb(240, 38, 38)
                );
   
}


