QScrollBar:vertical {
   border: 1px solid #D0D0D0;
   background: #D0D0D0;
   width: 18px;  
   margin: 20px 0 20px 0; 
   border-radius: 8px;
}

QScrollBar::handle:vertical {
   background: red;
   min-height: 85px;  
   border-radius: 7px;
}

QScrollBar::add-line:vertical {
   background: transparent;
   height: 20px;  
   border-top-right-radius: 8px;
   border-bottom-right-radius: 8px;
   subcontrol-position: bottom;
   subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
   border: none;
   background: transparent;
   height: 20px;  
   border-top-left-radius: 8px;
   border-bottom-left-radius: 8px;
   subcontrol-position: top;
   subcontrol-origin: margin;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
   background: #D0D0D0;
   border-radius: 8px;
}