QPushButton {
    font-family: Helvetica;
    font: normal;
    font-size: 16pt;
    color: rgb(78, 82, 79);
    background: rgb(192, 196, 193);
    border: 0px Solid rgb(255, 255, 255);
    border-radius: 4px;
    padding: 2px
   
}


