QMessageBox {
    background-color: white;
    border: 3px solid #8C8C8C;
    min-width: 300px;  /* Set the minimum width */
    max-width: 500px;
}
QLabel {
    color: #333333;
    font-size: 14px;
    min-width: 250px;  /* Set the minimum width */
    max-width: 400px;
    min-height: 50px;  /* Set the minimum height */
    max-height: 100px;
}
QPushButton {
    background-color: #F8F8F7;
    color: black;
    border: 1px solid grey;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 3px;
    min-width: 50px;  /* Set the minimum width */
    max-width: 100px;
}
QPushButton:hover {
    background-color: #45a049;
}