QGroupBox{
    background-color: #4D004C;
 }
QPushButton{
    font-family: Arial;
    font: bold;
    font-size: 12pt;
    color: #FFFFF7;
    background: #4D004C;
    border: 1px solid #FFFFF7;
    border-radius: 4px;
    padding: 8px;
}
QPushButton:pressed{
    color: #4D004C;
    background-color: #FFFFF7;
    }
