QRadioButton {
	color: black;
	padding: 1px;
}
QRadioButton::indicator:checked {
	height: 10px;
	width: 10px;
	border-style:solid;
	border-radius:5px;
	border-width: 1px;
	border-color: #e67e22;
	color: #a9b7c6;
	background-color: #e67e22;
}
QRadioButton::indicator:!checked {
	height: 10px;
	width: 10px;
	border-style:solid;
	border-radius:5px;
	border-width: 1px;
	border-color: #e67e22;
	color: #a9b7c6;
	background-color: transparent;
}