QPushButton {
    font-family: Helvetica;
    font: normal;
    font-size: 20pt;
    color: rgb(67, 67, 68);
    background: rgb(255, 255, 255);
    border: 0px Solid rgb(255, 255, 255);
    border-radius: 4px;
    padding: 2px;
    background: qradialgradient(
                    cx: 0.3, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 rgb(223, 226, 228), stop: 1 rgb(196, 199, 201)
                )
}



