QDialog {
    background-color: #FFFFFF; 
    border: 1px solid transparent;
}

QPushButton {
    background-color: transparent; 
    color: grey;
    font-size: 14px; 
    border-radius: 15px; /* Button border radius */
    padding: 9px;
    height: 12px;
    border: 1px solid grey;
}

QPushButton:hover {
    color: #80CCEF; 
    border: 1px solid #80CCEF;
}

