QPushButton {
    background-color: #f2305a;
    border: 5px solid black;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}
QPushButton::hover {
    background-color: rgb(217, 93, 65)
}