QPushButton {
    background-color: #f2305a;
    border: 10px solid black;
    border-radius: 11px; /* Curved corners */
    padding: 10px;    border-radius: 6px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}
QPushButton::hover {
    background-color: rgb(252, 97, 62);
}