QProgressBar {
    border: 2px solid gray;
    border-radius: 5px;
    color: white;
    text-align: center;
}
QProgressBar::chunk {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 #000000, stop:1 #333333);
    width: 20px;
}