QPushButton {
    font-family: Helvetica;
    font: normal;
    font-size: 16pt;
    color: rgb(201, 8, 8);
    background: rgb(255, 255, 255);
    border: 1px Solid rgb(201, 8, 8);
    border-radius: 4px;
    padding: 2px
   
}


