QPushButton {
    font-family: Helvetica;
    font: normal;
    font-size: 25pt;
    color: rgb(84, 198, 243);
    background: rgb(255, 255, 255,0);
    border: 1.5px Solid  rgb(84, 198, 243);;
    border-radius: 30px;
    padding: 2px;
}



