QComboBox {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 5px;
    font-family: "Roboto", sans-serif;
    color: #555555;
}
QComboBox::drop-down {
    background-color: #9dc852;
    width: 20px;
}
QComboBox::down-arrow {
    image: url(/preetish/images/down-arrow.png); 
}
QComboBox::down-arrow:hover {
    background-color: #8db842;
}
QComboBox QAbstractItemView {
    background-color: #ebebeb;
    border: 1px solid #dddddd;
    selection-background-color: rgba(0, 0, 0, 0.1);
}




