QPushButton{
    font-family: Arial;
    font: bold;
    font-size: 15pt;
    color: rgb(255, 255, 255); 
    background: rgb(119, 0, 255);
    border: 0px Solid rgb(140, 54, 240);
    border-radius: 30px;
    padding: 15px;
    background: qradialgradient(
                    cx: 0.3, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 rgb(140, 54, 240), stop: 1 rgb(119, 0, 255)
                );
}


