QComboBox {
	background-color: #282828;
	color: #f0e7e7;
	border: 0.1em solid #db423d;
	border-radius: 0.15em; 
	padding-bottom: 0.2em;
	padding-left: 0.4em;
  	font: 50 12pt "Sans Serif"

}
QComboBox QAbstractItemView
{   background-color: #282828; 
    selection-background-color: #db423d;
	outline: 0;
	color : #f0e7e7
}
