QPushButton{
    font-family: Arial;
    font: bold;
    font-size: 15pt;
    color: rgb(13, 132, 168);
    background: rgb(255, 255, 255,0);
    border: 3px Solid rgb(13, 132, 168);
    border-radius: 0px;
    padding: 0px;
}