QProgressBar {
    border: 2px solid rgb(103, 203, 3);
	background-color:rgb(255, 255, 255,0) ;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0);
}
QProgressBar::chunk {
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:1,
                                stop:0.4  rgb(103, 203, 3),
                                stop:0.5 rgba(255,255,255,0)
                                stop:0.6 rgb(103, 203, 3));
    width: 10px;
    margin: 0px;
    border-radius: 0px;
}