QPushButton {
    font-family: Helvetica;
    font: bold;
    font-size: 13pt;
    color: rgb(255, 255, 255);
    background: rgb(152, 153, 152);
    border: 1px Solid rgb(60, 61, 60);
    border-radius: 10px;
    padding: 5px;
    background: qradialgradient(
                    cx: 0.3, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 rgb(152, 153, 152), stop: 1 rgb(78, 82, 79)
                );
   
}