QProgressBar {
    border: 4px solid rgb(55, 55, 55);
	background-color:rgb(55, 55, 55) ;
    border-radius: 12px;
    text-align: center;
	font:bold;
    font-size: 15pt;
}
QProgressBar::chunk {
    background-color: rgb(255, 255, 255);
    width: 10px;
    height: 2px;
    margin: 1px;
    border-radius: 5px;
}