QRadioButton {
	border: none;
}

QRadioButton::indicator{
	width: 13px;
	height: 13px;
}

QRadioButton::indicator::unchecked {
	border: 1px solid #5A5A5A;
	background: none;
}

QRadioButton::indicator:unchecked:hover{
	border: 1px solid #DDDDDD;
}

QRadioButton::indicator::checked{
	border: 1px solid #5A5A5A;
	background: #5A5A5A;
}

QRadioButton::indicator:checked:hover{
	border: 1px solid #DDDDDD;
	background: #DDDDDD;
}