QPushButton{    
    background: rgb(82, 80, 79);
    border-radius: 30px;
    padding: 20px;
    background: qradialgradient(
                    cx: 0.3, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 rgb(82, 80, 79), stop: 1 rgb(37, 37, 37)
                );
}

QLabel{
    color: white; 
    font-size: 15pt;
    font: normal;
    font-family: Arial;
    color: rgb(255,255,255);
}
