QDialog {
    background-color: white; 
    border: 1px solid transparent;
}

QPushButton {
    background-color: white; 
    color: #33B5E6;
    font-size: 15px; 
    border-radius: 2px; /* Button border radius */
    padding: 8px;
    width: 70px;
    height: 14px;
    border: 1px solid #33B5E6;
}

QPushButton:hover {
    color: white; 
    border: 1px solid transparent;
    background-color: #33B5E6;
}

