QPushButton{
    font-family: Arial;
    font: normal;
    font-size: 25pt;
    color: rgb(143, 201, 67); 
    background: rgb(255, 255, 255,0);
    border: 3px Solid rgb(4, 110, 57);
    border-radius:25px;
    padding: 0px;
    
}
