QInputDialog{
    border: 3px solid yellow;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
}
QInputDialog QLabel{
    color: purple;
    font-size: 14px;
    font-weight: bold;
}