QWidget{
    background: rgb(15, 114, 207);
}

QPushButton{
    font-family: Arial;
    font: bold;
    font-size: 13pt;
    color: rgb(4, 68, 128); 
    background: rgba(255, 255, 255);
    border: 0px Solid rgb(255, 255, 255);
    border-radius: 4px;
    padding: 2px;
    
}



