QPushButton{
    font-family: Arial;
    font: bold;
    font-size: 12pt;
    color: rgb(4, 68, 128); 
    background: rgba(255, 255, 255);
    border: 3px Solid rgb(15, 114, 207);
    border-radius: 4px;
    padding: 2px;
    
}



