QRadioButton {
        padding-left: 2px;
        color: #D8D8D8;
}

QRadioButton:checked {
        color: #5498FF;
}

QRadioButton::indicator {
        height: 10px;
        width: 10px;
        border: 2px solid #5D5D5D;
        border-radius: 6px;
}

QRadioButton::indicator:checked {
        background-color: #5498FF;
        border-color: #5498FF;
}

