QLineEdit{
    border: 1px solid #01FF02;
    border-radius: 4px;
    font-size: 18px;
    padding: 3px;
    min-width: 18em;
    height: 30px;
    color: rgb(75, 75, 75);
    background-color: white;
    selection-background-color: #609EC9;
    selection-color: white;
}