QMessageBox {
    background-color: whitesmoke;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 1px solid transparent;
    min-width: 350px;  /* Set the minimum width */
    max-width: 500px;
}
QLabel {
    color: black;
    min-width: 380px;  /* Set the minimum width */
    max-width: 500px;
    min-height: 65px;  /* Set the minimum height */
    max-height: 100px;
}
QPushButton {
    background-color: white;
    color: black;
    border: 2px solid transparent;
    font-size: 12px;
    padding: 5px 10px;
}
QPushButton:hover {
    background-color: #0F0ADE;
    color: white;
}