QGroupBox{
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 23px;
  font-weight: bold;
  width: 400px;
  height: 300px;
  color: #4E8FF5;
  background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0.8 white, stop:1 #4E8FF5);
}
QGroupBox:title{
  subcontrol-position: left top;
  background-color: transparent;
  bottom: -30px;
  right: -19px;
}