QPushButton{
    font-family: Arial;
    font: bold;
    font-size: 16pt;
    color: rgb(255, 255, 255); 
    background: rgb(255, 255, 255);
    border: 0px Solid rgb(139, 158, 184);
    border-radius:30px;
    padding: 10px;
    background: qradialgradient(
                    cx: 0.3, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 rgb(139, 158, 184), stop: 1 rgb(122, 147, 180)
                );
}

