QPushButton{
    font-family: Arial;
    font: normal;
    font-size: 25pt;
    color: rgb(196, 2, 2); 
    background: rgb(255, 255, 255,0);
    border: 3px Solid rgb(196, 2, 2);
    border-radius:25px;
    padding: 0px;
    
}

