QPushButton {
    font-family: Helvetica;
    font: normal;
    font-size: 16pt;
    color: rgb(50, 168, 82);
    background: rgb(199, 247, 189);
    border: 0px Solid rgb(255, 255, 255);
    border-radius: 4px;
    padding: 2px
   
}


