QGroupBox{
  border: 1px solid rgb(111, 110, 110);
  background-color: rgb(221, 221, 221);
  font-size: 20px;
  width: 300px;
  height: 120px;
  color: rgb(0, 0, 0);
  margin-top: 25px;
}
QGroupBox:title{
  subcontol-origin: margin;
  subcontol-position: left top;
  top: -24px;
  left: 15px;
}