QComboBox{
   border: 1px solid blue;
   border-radius: 8px;
   padding: 1px 18px 1px 3px;
   min-width: 10em;
   background-color: orange;
   font-size: 14px; 
}
QComboBox:drop-down{
   subcontrol-origin: padding;
   subcontrol-position: top right;
   width: 15px;
   height: 20px;
   border-radius: 8px;
   border: 2px solid blue;
}
QcomboBox:down-arrow{
   image: url(sambhav\images\downarrow.png);
}

QListView{
   
   color: #5a6e79;
   font-weight: bold;
   background-color: #ADD8E6;
   border: 5px solid darkgray;
   selection-background-color: #20b2aa;
}