QLineEdit{
    border: 1px solid transparent;
    border-radius: 18px;
    font-size: 15px;
    padding: 3px;
    min-width: 18em;
    height: 30px;
    color: white;
    background-color: #4D597E;
    selection-background-color: pink;
    selection-color: white;
}
QLineEdit:hover{
    border: 1px solid whitesmoke;
}
