QPushButton{
    font-family: Arial;
    font: normal;
    font-size: 15pt;
    color: rgb(255, 255, 255);
    background: rgb(102, 8, 226);
    border: 1px Solid rgb(32, 11, 223);
    border-radius: 25px;
    padding: 10px;
    background: qradialgradient(
                    cx: -1, cy: 0,
                    fx: 0, fy: 1,
                    radius: 2.5,
                    stop: 0 rgb(102, 8, 226), stop: 1 rgb(32, 11, 223)
                );
}