QComboBox {
  background-color: Grey;
  border: 2px solid Black;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;


}

QComboBox::drop-down {
  subcontrol-origin: padding;
  subcontrol-position: right top;
  width: 20px;
  background-color: Black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}

QListView{
  border: 2px solid Black;
  background-color: Grey;
  font-weight: bold;
  selection-background-color: Light blue;
  show-decoration-selected: 1;
  margin-left: -10px;
  padding-left: 5px;
                          }

QComboBox::down-arrow {
  width: 40px;
  height: 14px;
}