QPushButton{
    font-family: Arial;
    font: normal;
    font-size: 15pt;
    color: rgb(255,255,255);
    background: rgb(53, 52, 51);
    border: 3px Solid rgb(3, 3, 3);
    border-radius: 15px;
    padding: 10px;
    background: qradialgradient(
                    cx: 0.3, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 rgb(73, 66, 66), stop: 1 rgb(37, 37, 37)
                );
}