QPushButton{
    font-family: Arial;
    font: normal;
    font-size: 25pt;
    color: rgb(255,255,255);
    background: rgb(82, 80, 79);
    border: 0px Solid rgb(3, 3, 3);
    border-radius: 30px;
    background: qradialgradient(
                    cx: 0.3, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 rgb(82, 80, 79), stop: 1 rgb(37, 37, 37)
                );
}


