QPushButton {
    background-color:qlineargradient(x1:0, y1:0, x2:1, y2:0,
    stop: 0 rgb(206, 19, 116), stop: 1 rgb(213, 12, 116)); 
    border-radius : 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;

}


QPushButton::hover {
    background-color: rgb(206, 19, 116);
}