QCheckBox:indicator{
  width: 20px;
  height: 20px;
  padding: 5px;
}
QCheckBox:indicator:unchecked{
  border: 5px solid rgb(197, 189, 189);
  background-color: rgb(197, 189, 189);
}
QCheckBox:indicator:checked{
  background-color:rgb(75, 237, 75);
  border: 5px solid white;
}