QPushButton{
    font-family: Arial;
    font: normal;
    font-size: 30pt;
    color: rgb(1, 54, 168); 
    background: rgb(255,255,255);
    border: 0px Solid rgb(201, 215, 245);
    border-radius:30px;
    padding: 0px;
    background: qradialgradient(
                    cx: 0.3, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 rgb(255, 255, 255), stop: 1 rgb(201, 215, 245)
                );
    border: 0px Solid rgb(1, 54, 168);
    
}


