QLineEdit{
    font-size: 18px;
    padding: 5px;
    min-width: 18em;
    height: 30px;
    color: rgb(144, 137, 137);
    background-color: rgba(255, 255, 255, 0.881);
    border-top: 5px solid qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #F0F8FF, stop:0.4 #00BFFF, stop:1 #1E90FF);
    border-bottom: 5px solid qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #1E90FF, stop:0.4 #00BFFF, stop:1 #F0F8FF);
    border-left: 5px solid qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 #F0F8FF, stop:0.4 #00BFFF, stop:1 #1E90FF);
    border-right: 5px solid qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 #1E90FF, stop:0.4 #00BFFF, stop:1 #F0F8FF);
}