QPushButton{
    font-family: Arial;
    font: normal;
    font-size: 16pt;
    color: rgb(0, 0, 0); 
    background: qradialgradient(
                    cx: 1, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 rgb(245, 204, 68), stop: 1 rgb(247, 196, 29)
                );
    border: 0px Solid rgb(255,255,255);
    border-radius:4px;
    padding: 2px;
    
}



