QGroupBox{
  border: 2px dotted #93944e;
  font-size: 17px;
  width: 400px;
  height: 200px;
  color: rgb(0, 0, 0);
  margin-top: 5ex;
  background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0.1 #e1e6e0, stop:1 #AEB05D);
}
QGroupBox:title{
  subcontrol-position: top center;
  background-color: rgb(226, 225, 225);
  border-radius: 14px;
  top: -14px;
  padding: 4px;
}