QComboBox {
	color: #ffffff;	
	background: #1e1d23;
	font :  "Times New Roman";
	font-size : 25px;
	padding-left: 0.2em;
}
QComboBox:editable {
	background: #f30b0b;
	color: #ffffff;
	selection-background-color: #1e1d23;
}
QComboBox QAbstractItemView {
	color: #ffffff;	
	background: #f30b0b;
	selection-color: #ffffff;
	selection-background-color: #1e1d23;
	outline : 0;

}
QComboBox:!editable:on, QComboBox::drop-down:editable:on {
	color: #ffffff;	
	background: #f30b0b;
}
