QLineEdit{
    font-size: 18px;
    font-style: italic;
    padding: 5px;
    min-width: 18em;
    height: 30px;
    color: rgb(72, 72, 72);
    background-color: transparent;
    border: 3px solid transparent;
    border-bottom: 3px solid qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0.3 #EAA250, stop:1 #E76C66);
}