QRadioButton::indicator{
   color: #b1b1b1;
   background-color: #323232;
   border: 1px solid #b1b1b1;
   width: 9px;
   height: 9px;
}
QRadioButton::indicator:hover
{
    border: 1px solid #ffaa00;
}
QRadioButton::indicator:checked
{
   border: 1px solid #ffaa00;
   width: 9px;
   height: 9px;
}