QPushButton{
    font-family: Arial;
    font: bold;
    font-size: 13pt;
    color: rgb(0, 0, 0); 
    background: rgb(255, 255, 255);
    border: 2px Solid rgb(0, 0, 0);
    border-radius: 4px;
    padding: 2px;

}
    



