QPushButton{
    font-family: Arial;
    font: normal;
    font-size: 15pt;
    color: rgb(255,255,255);
    background: rgb(233, 81, 172);
    border: 0px Solid rgb(252, 252, 252);
    border-radius: 0px;
    padding: 10px;
    background: qradialgradient(
                    cx: 0, cy: 1,
                    fx: -0.1, fy: 0,
                    radius: 1,
                    stop: 0 rgb(240, 17, 151), stop: 1 rgb(235, 77, 56)
                );
}


