QSlider {
	margin-top: 11px;
	margin-bottom: 11px;
}

QSlider::groove:horizontal {
	border: #000088;
	height: 10px;
	background: #6aa6ed;
	margin: 2px 0;
}

QSlider::handle:horizontal {
	background: white;
	border: 10px solid #6aa6ed;
	width: 30px;
	margin: -40 0;
	border-radius: 50px;
}
QSlider::add-page:horizontal {
	background: white;
	height: 10px;
	margin: 2px 0;
}