QPushButton{
    font-family: Arial;
    font: bold;
    font-size: 15pt;
    color: rgb(105, 93, 62);
    background: rgb(219, 165, 14);
    border: 2px Solid rgb(207, 148, 19);
    border-radius: 30px;
    padding: 15px;
    background: qradialgradient(
                    cx: 0.3, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 #ffd, stop: 1 #d19f14
                );
}