QPushButton{
    font-family: Arial;
    font: normal;
    font-size: 15pt;
    color: rgb(255,255,255);
    background: rgb(187, 233, 81);
    border: Solid rgb(187, 233, 81);
    border-radius: 0px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px;
    background: qradialgradient(
                    cx: 0, cy: 1,
                    fx: -0.1, fy: 0,
                    radius: 1,
                    stop: 0 rgb(55, 127, 138), stop: 1 rgb(123, 150, 75)
                );
}


