QRadioButton {
        background-color: rgb(206, 192, 1);
}

QRadioButton:checked {
        background-color: rgb(238, 229, 104);
}

QRadioButton::Indicator {
        border: none;
}

QRadioButton#button1 {
        border: 2px solid black;
        border-right: 1px solid rgb(206, 192, 1);
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
}

QRadioButton#button2 {
        border: 2px solid black;
        border-left: 1px solid rgb(206, 192, 1);
        border-right: 1px solid rgb(206, 192, 1);
}

QRadioButton#button3 {
        border: 2px solid black;
        border-left: 1px solid rgb(206, 192, 1);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
}


