QDialog {
    background-color: white; 
    border: 1px solid transparent;
    border-top: 1px solid rgb(228, 228, 228);
}

QPushButton {
    background-color: #337AB7; 
    color: white;
    font-size: 14px; 
    border-radius: 5px; /* Button border radius */
    padding: 9px;
    border: 1px solid transparent;
}

QPushButton:hover {
    background-color: #5CB85C;
}