QPushButton{
    font-family: Arial;
    font: bold;
    font-size: 30pt;
    color: rgb(247, 196, 29); 
    background: rgb(255,255,255,0);
    border: 0px Solid rgb(247, 196, 29);
    border-radius:40px;
    padding: 0px;
    
}

