QLineEdit{
   border: 2px solid blue;
   border-radius: 5px;
   min-width: 10em;
   font-weight: bold;
   font-style: italic;
   color: red;
   font-size: 12px;
   background: #FFFCC9;
   selection-background-color: orange;
   selection-color: blue;
}