QProgressBar{
    text-align: center;
    border-radius: 10px;
    background:#E0E0E0;
    color: white;
    font-weight: bold;
    font-size: 17px;
}
QProgressBar:chunk{
    background: #006A4E;
    border-radius: 10px;
}