QLineEdit{
    font-size: 18px;
    padding: 5px;
    min-width: 18em;
    height: 30px;
    color: rgb(72, 72, 72);
    background-color: white;
    border: 3px solid transparent;
    border-bottom: 3px solid qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0.2 #D420C2, stop:0.5 #D0177E, stop:1 #CC1335);
}