QPushButton{
    font-family: Arial;
    font: normal;
    font-size: 14pt;
    color: rgb(0, 0, 0);
    background: rgb(228, 187, 8);
    border-radius: 25px;
    padding: 10px;
    background: qradialgradient(
                    cx: 1, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 rgb(240, 227, 44), stop: 1  rgb(228, 187, 8)
                );
}