QPushButton{
    font-family: Arial;
    font: normal;
    font-size: 16pt;
    color: rgb(5, 145, 51); 
    background: rgb(255, 255, 255);
    border: 1px Solid rgb(5, 145, 51);
    border-radius:4px;
    padding: 2px;
    
}



