QPushButton{
    font-family: Arial;
    font: bold;
    font-size: 14pt;
    color: rgb(241, 151, 7); 
    background: rgb(255,255,255);
    border: 0px Solid rgb(255, 232, 194);
    border-radius:20px;
    padding: 0px;
    background: qradialgradient(
                    cx: 0.3, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 rgb(255, 255, 255), stop: 1 rgb(255, 232, 194)
                );    
}


