QMessageBox {
    background-color: #F3F5F6;
    border: 1px solid #F1514E;
    min-width: 350px;  /* Set the minimum width */
    max-width: 500px;
    border-radius: 3px;
}
QLabel {
    min-width: 400px;  /* Set the minimum width */
    max-width: 500px;
    min-height: 55px;  /* Set the minimum height */
    max-height: 100px;
}
QPushButton {
    background-color: #B41919;
    color: white;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 15px;
    padding: 5px 10px;
}
QPushButton:hover {
    background-color: #EFEFF9;
    color: grey;
    border: 1px solid #F1514E;
}