QGroupBox{
  border: 2px solid rgb(102, 198, 215);
  font-size: 20px;
  width: 400px;
  height: 300px;
  color: white;
  margin-top: 5ex;
  background-color: #ddfff1;
}
QGroupBox:title{
  subcontol-origin: margin;
  subcontol-position: left top;
  border: 1px solid transparent;
  background-color: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #74E7B8, stop:1 #2EB5D0);
  top: -10px;
  left: 12px;
  padding: 5px;
}