QComboBox {
	color: #a9b7c6;	
	background: #1e1d23;
	font : bold italic large "Times New Roman";
	font-size : 35px;
	padding-left : 10px;
}
QComboBox:editable {
	background: #1e1d23;
	color: #a9b7c6;
	selection-background-color: #1e1d23;
}
QComboBox QAbstractItemView {
	color: #a9b7c6;	
	background: #1e1d23;
	selection-color: #31e3e3;
	selection-background-color: #1e1d23;
	padding-left : 10px;

}
QComboBox:!editable:on, QComboBox::drop-down:editable:on {
	color: #a9b7c6;	
	background: #1e1d23;
}
