QGroupBox{
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 23px;
  font-weight: bold;
  width: 450px;
  height: 350px;
  color: #7E889D;
  background-color: #F8F9FB;
}
QGroupBox:title{
  subcontrol-position: left top;
  background-color: transparent;
  bottom: -30px;
  right: -19px;
}