QComboBox{
    color: #F5F3F4;
    font-weight: bold;
    border: 2px transparent;
    border-radius: 10px;
    background-color:qlineargradient(x1:0, y1:0, x2:1, y2:0,
    stop: 0 #47c16c, stop: 1 #45c76c); 
    padding-left: 20px;
    padding-right: 20px;
}
QComboBox:hover {
    border-color: #45c76c; }
    
QComboBox::drop-down {
        border: 10px;
        width: 0px;
    }
QComboBox QAbstractItemView {
    selection-color: #292929;
    selection-background-color: transparent;
    color: #F5F3F4;
    background-color: #45c76c;
    outline: 0;
}
