QGroupBox{
  border: 2px dotted #B768A2;
  font-size: 20px;
  width: 400px;
  height: 300px;
  color: white;
  margin-top: 5ex;
  background-color: #ffeffb;
}
QGroupBox:title{
  subcontrol-position: right top;
  border: 1px solid #C9C1EA;
  background-color: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0.2 #8484CF, stop:0.5 #B768A2, stop:1 #E74E74);
  top: -10px;
  right: 30px;
  padding: 5px;
}