QPushButton{
    font-family: Arial;
    font: bold;
    font-size: 15pt;
    color: rgb(255, 255, 255); 
    background: rgb(255, 255, 255);
    background: qradialgradient(
                    cx: 0.3, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 rgb(250, 78, 78), stop: 1 rgb(196, 2, 2)
                );
    border: 1.5px Solid rgb(0,0,0);
    border-radius: 30px;
    padding: 0px;
    
}

