QSlider::groove:horizontal {
    border: 1px solid #555555;
    height: 6px;
    background: #CFD8DC;
    margin: 2px 0;
    border-radius: 2px;
}

QSlider::handle:horizontal {
    background: #37474F;
    border: 1px solid #263238;
    width: 12px;
    height: 12px;
    margin: -4px 0;
    border-radius: 2px;
}
