QInputDialog{
    border: 3px solid #A3C7F6;
    border-radius: 4px;
    padding: 5px;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0.2 #C9C1EA, stop:1 #ECDBE1);
    padding: 8px;
    margin: 2px;
}
QInputDialog QLabel{
    color: purple;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
QInputDialog QLineEdit{
    border: 1px solid transparent;
    border-radius: 15px;
    font-size: 15px;
    padding: 5px;
    color: white;
    background-color: #F598AB;
    selection-background-color: #BAB1EB;
    selection-color: white;
}
QInputDialog QPushButton {
    background-color: #f2b8c4;
    color: white;
    font-size: 12px;
}