QProgressBar {
    border: 3px solid rgb(123, 1, 164);
	background-color:rgba(255, 255, 255, 0) ;
    border-radius: 4px;
    text-align: center;
	font:bold;
    color: rgb(255,255,255,0)
}
QProgressBar::chunk {
    background: qradialgradient(
                    cx: -1, cy: 0,
                    fx: 0, fy: 1,
                    radius: 2.5,
                    stop: 0 rgb(153, 29, 195), stop: 1 rgb(123, 1, 164)
                );
    width: 20px;
    margin: 4px;
    border-radius: 2px;
}