QProgressBar {
	text-align: center;
	color: rgb(55, 3, 58);
	border-radius: 15px;
    border: 0px solid rgb(13, 44, 78);
	background:qradialgradient(
		cx: 0.3, cy: -0.4,
		fx: 0.3, fy: -0.4,
		radius: 1.35,
		stop: 0 rgb(208, 226, 240), stop: 1 rgb(208, 226, 240)
	);
	font:bold;
	font-size: 12pt;
}

QProgressBar::chunk {
	background: qradialgradient(
		cx: 0.3, cy: -0.4,
		fx: 0.3, fy: -0.4,
		radius: 1.35,
		stop: 0 rgb(48, 136, 207), stop: 1 rgb(33, 65, 92)
	);
	border-radius: 15px;
}