QFrame {
        margin: 1px;
        padding: 1px;
        border-radius: 3px;
        background-color: #5F5D6A;
}

QRadioButton::indicator {
        height: 0px;
        width: 0px;
}

QRadioButton {
        padding-left: 7px;
        color: #f0f8ff;
}

QRadioButton:checked {
        border-radius: 3px;
        background: qlineargradient(
                spread: pad,
                x1: 0,
                y1: 0,
                x2: 1,
                y2: 1,
                stop: 0 #ABEAAD,
                stop: 1 #9DDDC8
        )
}