QPushButton{
    font-family: Arial;
    font: normal;
    font-size: 20pt;
    color: rgb(255, 255, 255); 
    background: rgb(28, 28, 59);
    background: qradialgradient(
                cx: 0.3, cy: -0.4,
                fx: 0.3, fy: -0.4,
                radius: 1.35,
                stop: 0 rgb(49, 49, 75), stop: 1 rgb(28, 28, 59)
            );
    border: 0px Solid rgb(28, 28, 59);
    border-radius:4px;
    padding: 0px;
    
}


