QComboBox {
	background-color: rgb(73, 77, 91);
	color: #ffffff;
	border : 5px solid rgb(73, 77, 91);
	border-radius: 0.4em; 
	padding-bottom: 0.2em;
	padding-left: 0.6em;
  	font: 60 10pt"Sans Serif"
}
QComboBox:hover{
    border : 5px solid;
    border-color : #2a51bb;                                  
                                     }
QComboBox QAbstractItemView
{   background-color: rgb(73, 77, 91); 
    selection-color: #ffffff;
	selection-background-color: #2b2e34;
	outline: 0;
	padding-left: 0.2em;
	padding-right: 0.2em;
  	color : #a5b5cd
}
