QMessageBox {
    background-color: white;
    border: 1px solid transparent;
    min-width: 350px;  /* Set the minimum width */
    max-width: 500px;
    border-radius: 3px;
}
QLabel {
    min-width: 280px;  /* Set the minimum width */
    max-width: 500px;
    min-height: 80px;  /* Set the minimum height */
    max-height: 100px;
}
QPushButton {
    background-color: #00AFEF;
    color: white;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 15px;
    padding: 5px 10px;
}
QPushButton:hover {
    background-color: #7ACD2C;
}