QCheckbox:indicator:unchecked{
    border: 2px solid #D3D3D3;
    background-color: white;
}
QCheckbox:indicator:checked{
    border: 2px solid black;
}
QCheckbox:indicator:unchecked:hover{
    border: 2px solid black;
}