QProgressBar {
	text-align: center;
	color: rgba(255, 255, 255);
	border-radius: 2px;
    border: 0px solid rgb(230, 230, 231);
	background: #E5E5E5;
	font:normal;
	font-size: 15px;
}
QProgressBar::chunk {
	background: #E03A97;
	border-radius: 2px;
}