QLineEdit{
    border: 2px solid rgb(155, 155, 155);
    border-radius: 21px;
    font-size: 18px;
    padding: 5px;
    min-width: 18em;
    height: 30px;
    color: grey;
    background-color: rgb(255, 255, 163);
    selection-background-color: pink;
}
QLineEdit:hover{
    background-color: rgb(255, 255, 77);
    color: #609EC9;
    border: 2px solid #609EC9;
}
