QGroupBox{
  border: 1px solid #efd36e;
  font-size: 20px;
  width: 400px;
  height: 300px;
  color: white;
  margin-top: 5ex;
  background-color: #fff0de;
}
QGroupBox:title{
  subcontrol-position: right top;
  border: 1px solid #FCE593;
  background-color:qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0.2 #F1AD6E, stop: 0.5 #F7CB84, stop:1 #FCE593);
  top: -10px;
  right: 30px;
  padding: 5px;
}