QPushButton{
    font-family: Arial;
    font: normal;
    font-size: 13pt;
    color: rgb(255, 255, 255); 
    background: rgba(255, 255, 255);
    border: 4px Solid rgb(71, 226, 180);
    border-radius: 4px;
    padding: 2px;
    background: qradialgradient(
                    cx: 1, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 rgb(76, 133, 160), stop: 1  rgb(7, 84, 121)
                );
    
}



