QProgressBar {
    border: 2px solid rgba(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
    text-align: center;
    font: bold;
    color: rgba(255, 255, 255, 0);
}

QProgressBar::chunk {
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:1,
                                stop:0  rgba(0, 0, 0, 0),
                                stop:0.5 rgba(0, 0, 0, 255)
                                stop:1 rgba(0, 0, 0, 0));
    width: 6px;  
    border-radius: 2px;
}
