QComboBox {
	color: #000000;	
	background: transparent;
	border: 0.05em solid #000000;
	padding-bottom: 0.2em;
	padding-left: 0.2em;
  	font: 70 14pt "Sans Serif"

}

QComboBox QAbstractItemView {
	color: #000000;	
	background: #ffffff;
	padding-left: 0.4em;
	selection-color: #FFFFFF;
	selection-background-color: #325c93;
}
