QLineEdit{
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    min-width: 18em;
    height: 30px;
    color: rgb(152, 144, 144);
    background-color: transparent;
    border: 4px solid rgb(152, 144, 144);
    border-top: 4px solid qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #C0C0C0, stop:1 #F0F0F0);
}