QDialog {
    background-color:qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0.1 #1D6CA5, stop: 0.4 #1C5E9D, stop: 1 #1A658A); 
    border: 1px solid transparent;
    border-top: 1px solid grey;
}

QPushButton { 
    background-color: whitesmoke;
    color: black;
    font-size: 15px; 
    border-radius: 19px; /* Button border radius */
    height: 20px;
    padding: 8px;
    border: 1px solid transparent;
}

