
QPushButton{
    font-family: Arial;
    font: bold;
    font-size: 13pt;
    color: rgb(255, 255, 255); 
    background: rgb(28, 28, 59);
    background: qradialgradient(
        cx: 0.3, cy: -0.4,
        fx: 0.3, fy: -0.4,
        radius: 1.35,
        stop: 0 rgb(189, 188, 188), stop: 1 rgb(179, 179, 179)
        );
        border: 0px Solid rgb(255,255,255);
        border-radius:4px;
        padding: 2px;
}
    
QPushButton:hover{
        font-family: Arial;
        font: bold;
        font-size: 13pt;
        color: rgb(151, 150, 150); 
        background: qradialgradient(
                        cx: 0.3, cy: -0.4,
                        fx: 0.3, fy: -0.4,
                        radius: 1.35,
                        stop: 0 rgb(255, 255, 255), stop: 1 rgb(235, 231, 231)
                    );
        border: 1.5px Solid rgb(179, 179, 179);
        border-radius:4px;
        padding: 2px;
        text-decoration: underline;
    }
