QPushButton{
    font-family: Arial;
    font: normal;
    font-size: 16pt;
    color: rgb(255, 255, 255); 
    background: rgb(79, 184, 188);
    background: qradialgradient(
                  cx: 1, cy: -0.4,
                  fx: 0.3, fy: -0.4,
                  radius: 1.35,
                  stop: 0 rgb(86, 192, 196), stop: 1  rgb(79, 184, 188)
              );
    border: 0px Solid rgb(255,255,255);
    border-radius:4px;
    padding: 2px;
    
}



