QPushButton{
    font-family: Arial;
    font: bold italic;
    font-size: 15pt;
    color: black;
    background: #2980b9;
    border-color: black;
    border-style: outset;
    border-radius: 8px;
    padding: 12px;
}
QPushButton:hover{
     background: #1f618d;
     opacity: 0.5;
     padding: 8px;
}