QPushButton{
    font-weight: bold;
    font-size: 13pt;
    color:blue;
    background: #FAF9F6;
    border: 2px solid blue;
    border-radius: 14px;
    padding: 10px;
    }
    QPushButton:Pressed{
    background: grey;
    }