QPushButton {
    font-family: Helvetica;
    font: bold;
    font-size: 16pt;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border: 2.5px Solid rgb(211, 197, 255);
    border-radius: 15px;
    padding: 5px
   
}


