QGroupBox {
   border: 1px solid blue;
   margin-top: 1em;
   font-size: 5em;
   border-top-right-radius: 6px;
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
}

QGroupBox::title {
   color: #fff;
   background-color: blue;
   border: 2px dotted yellow;
   subcontrol-origin: margin;
   padding: 0.5em 0.7em;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
   margin: 4px;
}