QPushButton{
    font-family: Arial;
    font: bold;
    font-size: 30pt;
    color: rgb(241, 187, 7); 
    background: rgb(255,255,255);
    border: 0px Solid rgb(245, 222, 149);
    border-radius:40px;
    padding: 0px;
    background: qradialgradient(
                    cx: 0.3, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 rgb(255, 255, 255), stop: 1 rgb(245, 222, 149)
                );
    border: 0px Solid rgb(241, 187, 7);
    
}


