QPushButton{
    font-family: Arial;
    font: normal;
    font-size: 16pt;
    color: rgb(255, 255, 255); 
    background: rgb(218, 2, 2);
    background: qradialgradient(
                    cx: 0.3, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 rgb(247, 77, 77), stop: 1 rgb(218, 2, 2)
                );
    border: 0px Solid rgb(255,255,255);
    border-radius:4px;
    padding: 2px;
    
}



