QPushButton{
    font-family: Arial;
    font: bold;
    font-size: 13pt;
    color: rgb(255, 255, 255); 
    background: rgb(255, 255, 255);
    border: 0px Solid rgb(13, 101, 168);
    border-radius: 4px;
    padding: 2px;
    background: qradialgradient(
                    cx: 0.3, cy: -0.4,
                    fx: 0.3, fy: -0.4,
                    radius: 1.35,
                    stop: 0 rgb(13, 101, 168), stop: 1 rgb(5, 100, 173)
                );
}

